body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ef0606;
}

header {
    background-color: #f5f3f3;
    color: rgb(250, 249, 248);
    padding: 10px;
    text-align: center;
}

header img {
    width: 50px;
    border-radius: 20px;
   
}

.headerlove{
    color: #ef0606;
}
header nav ul {
    list-style: none;
    padding: 10;    
}

header nav ul li {
    display: inline;
    margin-right: 50px;
    
}

header nav ul li a {
    color:  rgb(247, 6, 6);
    
}

header nav ul li a:hover {
    color:rgb(120, 119, 119);
}

.all_product{
    display:grid;
    grid-template-columns: repeat(3,auto);
    
    padding: 20px;
    margin: 20px auto;
    
 }
 
 
 .container {
    background-color: #f5f3f3;
     width: 90%;
     margin: 0 auto;
     padding: 10px 15px;
     border-radius: 50px;
     margin: 20px 20px 20px 20px;
     
 }
 
 .product-img {
     width: 100%;
     height: auto;
     border-radius: 50px;
    
 }
 
 .product-title {
     font-size: 24px;
     margin-bottom: 15px;
     text-align: center;
 }
 
 .product-description {
     font-size: 18px;
     line-height: 1.5;
     margin-bottom: 20px;
     width: 100%;
 }
 
 .product-price {
     
     display: inline-block;
     background-color: #fa0606;
     color: #fff;
     padding: 10px 20px;
     text-decoration: none;
     border-radius: 10px;
 }
 
 
 .btn {
     display: inline-block;
     background-color: #007bff;
     color: #fff;
     padding: 10px 20px;
     text-decoration: none;
     border-radius: 100px;
     margin-left: 10px;
 }
 .btn:hover{
     background-color: #09d7ed;
 }
 .shoe1{
     text-decoration: line-through;
 }